/* Polices personnalisées */

	@font-face
	{
		font-family: "Raleway";
		src: url('../Police/Raleway-VariableFont_wght.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

/* Éléments principaux de la page */

	html
	{
		scroll-behavior: smooth;
	}

	body
	{
		background-color: white;
		font-family: "Raleway", Arial, sans-serif;
		color: #181818;
		font-size: 1em;
	}
	#bloc_page
	{
		width: 80%;
		margin: auto;
	}
	header h1, section h2
	{
		font-size: 1.3em;
		font-weight: bold;
	}
	header h2, section h3, footer h2
	{
		font-weight: bold;
		font-size: 1em;
	}

/* Header */

	#logo
	{
		display: flex;
		justify-content: space-between;
		padding-top: 10px;
	}
	#logo img 
	{
		width: 6em; 
		height: 3em; 
	}
	#recherche
	{
		display: flex;
		justify-content: flex-start;
	}
	.fa-map-marker-alt
	{
		height: 2.5em;
		background-color: #F2F2F2;
		padding: 1.3em 1.3em 0em 1.3em;
		border-top-left-radius: 1em;
		border-bottom-left-radius: 1em;
	}
	input[type=search]
	{
		height: 4.6em;
		width: 15em;
		border: solid #f2f2f2;
		border-right: none;
		padding-left: 0.8em;
	}
	input[type=submit]
	{
		height: 3.8em;
		width: 8em;
		background-color: #0065FC;
		border: none;
		color: white;
		font-weight: bold;
		font-size: 1em;
		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;
	}
	#search::placeholder
	{
		font-weight: bold;
		font-size: 1.1em;
		font-family: "Raleway", Arial, sans-serif;
	}
	#filtres
	{
		display: inline-flex;
		flex-wrap: wrap;
	}
	header ul
	{
		display: flex;
		list-style-type: none;
	}
	nav li
	{
		margin-right: 5em;
	}
	header li
	{
		margin-right: 2em;
	}
	a.filter
 	{
 		font-weight: bolder;
 		color: black;
 		text-decoration: none;
 		border: solid #F2F2F2;
 		padding: 0.5em 0.5em 0.5em 0em;
	 	border-radius: 10em;
	 	border-left: none;
	 }
	.fa-money-bill-wave
	{
 		color: #0065FC;
 		background-color: #DEEBFF;
 		padding: 0.7em;
 		border-radius: 50%;
 	}
 	.fa-child
 	{
 		color: #0065FC;
 		background-color: #DEEBFF;
 		padding: 0.7em;
 		border-radius: 50%;
 	}
 	.fa-heart
 	{
 		color: #0065FC;
 		background-color: #DEEBFF;
 		padding: 0.7em;
 		border-radius: 50%;
 	}
	 .fa-dog
 	{
 		color: #0065FC;
 		background-color: #DEEBFF;
 		padding: 0.7em;
 		border-radius: 50%;
 	}
 	a.filter:hover
 	{
 		box-shadow: 0.4em 0.4em 1.1em grey;
 	}
 	.fa-info
 	{
 		font-size: 0.8em;
 		padding: 0.6em 0.7em 0.6em 0.7em;
 		color: #0065FC;
 		border: 0.2em #F2F2F2 solid;
 		border-radius: 50%;
	}
 	header h2
 	{
 		padding-top: 0.8em;
 	}


/* Navigation */

	nav ul
	{
		display: flex;
		justify-content: space-between;
		list-style-type: none;
	}
	nav a.ancre
	{
		font-size: 1em;
		color: black;
		text-decoration: none;
	}
	nav a.inscription
	{
		font-size: 1em;
		color: #0065FC;
		font-weight: bold;
		text-decoration: none;
	}
	nav a:hover
	{
		color: #0065FC;
		border-top: 1px solid #0065FC;
		padding-top: 1.5em;
	}

/* Main section */

	main
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 5em;
		flex-wrap: wrap;
	}
	main a 
	{
		text-decoration: none;
	}
	article 
	{
		width: 65%;
		background-color: #F2F2F2;
		margin: 0.5em;
		border-radius: 2em;
	}
	aside
	{
		width: 30%;
		background-color: #F2F2F2;
		margin: 0.5em;
		border-radius: 2em; 
	}
	article h2, section h2
	{
		padding-left: 1.5em;
		padding-bottom: 0.8em;
	}
	.blue
	{
		color: #0065FC;
	}
	.grey
	{
		color: #F2F2F2;
	}

/* Hébergements */

	#photos_hebergements
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		height: 85%;
	}
	.photos 
	{
		width: 100%;
		height: 50%;
	}
	.photos img 
	{
		width: 100%;
		height: 100%;
		border-radius: 1.5em 1.5em 0 0;
		object-fit: cover;
	}
	.heb_photo
	{
		width: 27%;
		height: 40%;
		display: flex;
		flex-direction: column;
		border: 0.4em white solid;
		border-radius: 2em;
		box-shadow: 0.2em 0.2em 1em grey;
	}
	.heb_photo:hover, .popu_photo:hover
	{
		transform: scale(1.1);
		transition: .3s ease-in-out;
		box-shadow: 0.4em 0.4em 0.5em grey;
	}
	.heb_legende
	{
		background-color: white;
		height: 50%;
		text-align: left;
		color: #181818;
		padding-left: 1em;
		border-bottom-right-radius: 1.3em; 
		border-bottom-left-radius: 1.3em;
	}
	a.plus 
	{
		color: #181818;
		font-weight: bold;
		padding-left: 2em;
	}

/* Les plus populaires */

	aside h2
	{
		display: flex;
		justify-content: space-around;
	}

	#photo_populaires
	{
		display: flex;
		height: 80%;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.popu_photo
	{
		width: 80%;
		height: 25%;
		display: flex;
		flex-direction: row;
		border: 0.4em white solid;
		border-radius: 2em;
		box-shadow: 0.2em 0.2em 1em grey;
	}
	.photos2
	{
		width: 50%;
	}
	.photos2 img
	{
		width: 100%;
		height: 100%;
		border-radius: 1.5em 0 0 1.5em;
		object-fit: cover;
	}
	.popu_legende
	{
		background-color: white;
		line-height: 1em;
		width: 50%;
		text-align: left;
		color: #181818;
		padding-left: 1em;
		border-bottom-right-radius: 1.3em; 
		border-top-right-radius: 1.3em;
	}

/* Section Activités */

	#activites
	{
		width: 100%;
		height: 90%;
		display: flex;
		justify-content: space-around;
		padding-bottom: 2em;
	}
	.petit
	{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 22%;
	}
	.activite_grand
	{
		width: 22%;
		border-radius: 1.5em;
		display: flex;
		flex-direction: column;
		box-shadow: 0.2em 0.2em 1em grey;
	}
	.activite_petit
	{
		width: 100%;
		height: 47%;
		border-radius: 1.5em;
		display: flex;
		flex-direction: column;
		box-shadow: 0.2em 0.2em 1em grey;
	}
	.photos_grand
	{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 90%;
		object-fit: cover;
	}
	.photos_petit
	{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 80%;
		object-fit: cover;
	}
	.photos_grand img, .photos_petit img
	{
		width: 100%; 
		height: 100%; 
		object-fit: cover;
		border-radius: 1.5em 1.5em 0 0;
	}
	.legende
	{
		background-color: white;
		height: 15%;
		text-align: left;
		color: #181818;
		padding-left: 1em;
		border-bottom-right-radius: 1.4em;
		border-bottom-left-radius: 1.4em;
	}
	.activite_petit:hover, .activite_grand:hover
	{
		transform: scale(1.1);
		transition: .3s ease-in-out;
		box-shadow: 0.4em 0.4em 0.5em grey;
	}
	section a
	{
		text-decoration: none;
		color: #181818;
	}

/* Footer */

	footer 
	{
		display: flex; 
		justify-content: space-around;
		margin-top: 3em;
		padding-top: 1em; 
		padding-bottom: 1em;
		background-color: #F2F2F2;
	}
	footer ul
	{
		list-style-type: none;
		padding-left: 0;
		line-height: 2em;
	}
	footer a
	{
		text-decoration: none;
		color: #181818;
	}
	footer a:hover 
	{
		color: #0065FC;
	}

/* Responsive */

	@media all and (max-width: 1024px)
	{
		#bloc_page
		{
			width: auto;
		}
		header ul
		{
			display: flex;
			flex-direction: column;
		}
		header li 
		{
			padding-bottom: 1em;
		}
		#logo
		{
			flex-direction: column;
		}
		nav ul
		{
			display: flex;
			flex-flow: row wrap-reverse;
		}
		nav a:hover 
		{
			border-top: none;
			border-bottom: 2px solid #0065FC;
		}

		main
		{
			flex-direction: column-reverse;
		}

		article, aside
		{
			width: auto;
		}

		aside
		{
			height: 800px;
		}

		article
		{
			height: 1500px;
			background-color: white;
		}

		#photos_hebergements
		{
			flex-direction: column;
			align-content: center;
		}

		.heb_photo
		{
			width: 80%;
			height: 14%;
			flex-direction: row;
		}

		.photos
		{
			width: 50%;
			height: 100%;
		}

		.photos img
		{
			border-radius: 1.5em 0 0 1.5em;
		}

		.heb_legende
		{
			width: 50%;
			height: 100%;
			border-radius: 0 1.5em 1.5em 0;
		}

		section
		{
			height: 1600px;
		}

		#activites
		{
			flex-direction: column;
			align-items: center;
		}
		.activite_grand, .petit
		{
			width: 80%;
		}
		.activite_grand
		{
			height: 15%;
		}
		.petit
		{
			height: 30%;
		}
		footer
		{
			display: flex;
			flex-direction: column;
			padding-left: 2em;
		}
}